*{
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none;
}
.home{
    @extend %fondo;
 }
 .decoracion--footer {
    padding-left: nth($letra_tam,2);
    padding-right: nth($letra_tam,2);
    padding-top: nth($letra_tam,4);
  }

  body {
    text-align:  map-get($posiciones,centro);
    font-family: nth($letra_dise,1), nth($letra_dise,2);
    font-weight: 700;
    font-size:   nth($letra_tam,3);
}

.decoracion {
    padding:nth($pixeles,3);
 }

 footer{
    font-size: nth($letra_tam,3);
    padding-top: nth($pixeles,5);
    color:nth($colores,1);  
 }
 .footer--im{
    position: map-get($posiciones,fx);
    bottom: 0;
    right: 0;
 }
